<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>YouTube Videos</title>
</head>
<body>
<h1>My YouTube Videos</h1>

<form action="/addVideo" method="post">
    <input type="text" name="videoLink" placeholder="Enter YouTube video link">
    <button type="submit">Add Video</button>
</form>

<h2>Saved Videos</h2>
<div>
    <ul>
        <th:block th:each="videoLink : ${videoLinks}">
            <li>
                <div th:text="${videoLink}"></div>
                <iframe th:src="'https://www.youtube.com/embed/' + ${#strings.substring(videoLink, videoLink.indexOf('v=') + 2, videoLink.indexOf('&') > 0 ? videoLink.indexOf('&') : videoLink.length())}" width="560" height="315" frameborder="0" allowfullscreen></iframe>
            </li>
        </th:block>
    </ul>
</div>
</body>
</html>
