<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Recipe Modify</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Recipe Modify
                </div>
                <div class="card-body">
                    <form th:action="@{/recipe/modify}" method="post" id="f1">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Rid</span>
                            <input type="text" class="form-control" th:value="${dto.rid}" name="rid" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Title</span>
                            <input type="text" class="form-control" name="title" th:value="${dto.title}">
                        </div>

                        <div class="input-group mb-3">
                            <ul id="materialList" style="list-style:none" class="list-group" th:if="${dto.ingredients != null && dto.ingredients.size() > 0}">
                                <!--<div th:if="${dto.ingredients != null && dto.ingredients.size() > 0}" class="row justify-content-evenly">-->
                                    <li th:id="${'liMaterial_'+iterStat.index}" th:each="ingredient, iterStat: ${dto.ingredients}">
                                        <div class="input-group">
                                            <input type="text" th:name="'ingredients['+ ${iterStat.index} +'].name'" aria-label="First name" class="form-control" placeholder="재료" th:value="${ingredient.name}">
                                            <input type="text" th:name="'ingredients['+ ${iterStat.index} +'].amount'" aria-label="Last name" class="form-control" placeholder="양" th:value="${ingredient.amount}">
                                            <button type="button" class="btn btn-outline-secondary" onclick="delItem(this)">X</button>
                                        </div>
                                    </li>
                                <!--</div>-->
                            </ul>
                            <div>
                                <button type="button" onclick="addItem()" class="btn btn-secondary">ADD Ingredient</button>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Content</span>
                            <textarea class="form-control col-sm-5" rows="5" name="content">[[${dto.content}]]</textarea>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">videoURL</span>
                            <input type="text" class="form-control" name="videoUrl" th:value="${dto.videoUrl}">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Writer</span>
                            <input type="text" class="form-control" th:value="${dto.writer}" name="writer" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Images</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn-primary uploadFileBtn">ADD Files</button>
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <span class="input-group-text">RegDate</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">ModDate</span>
                            <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd')}" readonly>
                        </div>

                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="reveal" th:checked="${dto.reveal}">
                            <label class="form-check-label" for="flexSwitchCheckDefault">레시피 공개여부</label>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary listBtn">List</button>
                                <button type="button" class="btn btn-secondary modBtn">Modify</button>
                                <button type="button" class="btn btn-danger removeBtn">Remove</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col ">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap:wrap;">
                <th:block th:each="fileName:${dto.fileNames}">
                    <div class="card col-4" th:with = "arr = ${fileName.split('_')}">
                        <div class="card-header d-flex justify-content-center">
                            [[${arr[1]}]]
                            <button class="btn-sm btn-danger"
                                    th onclick="removeFile('${arr[0]}', '${arr[1]}', this)">X</button>
                        </div>
                        <div class="card-body">
                            <img th:src="|/view/s_${fileName}|" th:data-src="${fileName}">
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>


    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-ttle">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple >
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">Upload</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/upload.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">


    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/recipe/modify?${link}`

        //add file as <input type=hidden>
        appendFileData()

        //deletion of files to be deleted
        callRemoveFiles()

        formObj.method ='post'
        formObj.submit()


    }, false)

    function appendFileData(){
        const target = document.querySelector(".uploadHidden") //첫번째요소
        const uploadFiles = uploadResult.querySelectorAll("img") //모든요소

        let str = ''

        for(let i = 0; i < uploadFiles.length ; i++){
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")

            str += `<input type="hidden" name="fileNames" value="${imgLink}">`
        }

        target.innerHTML = str;
    }

    function callRemoveFiles(){
        removeFileList.forEach(({uuid,fileName}) => {
            removeFileToServer({uuid, fileName})
        })
    }


    document.querySelector(".removeBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        //add files on screen to form tag
        appendFileData()
        //add files that have been processed so thy are not visible on screen to form tag
        appendNotShownData()


        formObj.action = `/recipe/remove`
        formObj.method ='post'
        formObj.submit()
    }, false)

    function appendNotShownData(){

        if(removeFileList.length == 0){
            return
        }

        const target = document.querySelector(".uploadHidden")
        let str = ''

        for(let i = 0; i < removeFileList.length; i++){
            const {uuid, fileName} = removeFileList[i];
            str += `<input type="hidden" name="fileNames" value="${uuid}_${fileName}">`
        }

        target.innerHTML += str;
    }

    document.querySelector(".listBtn").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location =`/recipe/list?${link}`

    }, false)


    //서버최종삭제전까지 보관할 파일 정보들
    const removeFileList = []

    function removeFile(uuid, fileName, obj){
        if(!confirm("파일을 삭제하시겠습니까?")){
            return
        }

        console.log(uuid)
        console.log(fileName)
        console.log(obj)

        removeFileList.push({uuid,fileName})

        const targetDiv = obj.closest(".card")
        targetDiv.remove()
    }


    //upload modal
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))
    document.querySelector(".uploadFileBtn").addEventListener("click", function(e){

        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()

    },false)

    document.querySelector(".uploadBtn").addEventListener("click", function(e){

        const formObj = new FormData();
        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files

        for(let i = 0; i < files.length; i++){
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {
            console.log(result)

            for(const uploadResult of result){
                showUploadFile(uploadResult)
            }
            uploadModal.hide()
        }).catch(e => {uploadModal.hide()})

    }, false)

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({uuid, fileName, link}){

        const str = `<div class="card col-4">
                        <div class="card-header d-flex justify-content-center">${fileName}
                            <button class="btn-sm btn-danger" onclick="javascript:removeFile('${uuid}', '${fileName}', this)">X</button>
                        </div>
                        <div class="card-body">
                            <img src="/view/${link}" data-src="${uuid+"_"+fileName}" >
                        </div>
                     </div><!--end card-->`
        uploadResult.innerHTML += str
    }

    function addItem() {
        var maxcount = 20;
        var list = document.getElementById("materialList");
        var itemCount = list.childElementCount;

        if (errors || itemCount >= maxcount) {
            return; // Exit function if there are errors or maximum count reached
        }

        var newItem = document.createElement("li");
        newItem.id = "liMaterial_" + (itemCount);

        newItem.innerHTML = `<div class="input-group">
                                <input type="text" name="ingredients[${itemCount}].name" aria-label="First name" class="form-control" placeholder="재료">
                                <input type="text" name="ingredients[${itemCount}].amount" aria-label="Last name" class="form-control" placeholder="양">
                                <button type="button" class="btn btn-outline-secondary" onclick="delItem(this)">X</button>
                          </div>`;

        list.appendChild(newItem);
    }

    function delItem(element) {
        element.closest('li').remove();
        adjustIndexes();
    }

    function adjustIndexes() {
        const elements = document.querySelectorAll('[name^="ingredients"]');
        let index = 0;

        elements.forEach((element) => {
            const newName = element.name.replace(/\[\d+\]/, '[' + ']');
            element.name = newName;
            index++;
        })
    }


</script>

