<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>Board Read</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Board Read
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Rid</span>
                        <input type="text" class="form-control" th:value="${dto.rid}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Title</span>
                        <input type="text" class="form-control" th:value="${dto.title}" readonly>
                    </div>

                    <!--<div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                        <img class="card-img-top" th:each="fileName: ${dto.fileNames}" th:src="|/view/${fileName}|">
                    </div>-->


                    <div class="row g-3">
                        <ul id="materialList" style="list-style:none">
                            <div th:if="${dto.ingredients != null && dto.ingredients.size() > 0}">
                                <li id="liMaterial_1" th:each="ingredient: ${dto.ingredients}">
                                    <div class="row g-3">
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="재료" th:value="${ingredient.name}" readonly>
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="양" th:value="${ingredient.amount}" readonly>
                                        </div>
                                    </div>
                                </li>
                            </div>
                        </ul>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Content</span>
                        <textarea class="form-control col-sm-5" rows="5" readonly>[[${dto.content}]]</textarea>
                    </div>

                    <div class="input-group mb-3" th:if="${dto.videoUrl != null && dto.fileNames != null && !dto.fileNames.isEmpty()}">
                        <iframe
                                id="ytplayer"
                                type="text/html"
                                width="720"
                                height="405"
                                th:src="${dto.videoUrl}"
                                allowfullscreen="allowfullscreen">
                        </iframe>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">Writer</span>
                        <input type="text" class="form-control" th:value="${dto.writer}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">RegDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">ModDate</span>
                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                    </div>
                    <div>
                        <a id="likeButton" th:data-rid="${dto.rid}">
                            <i class="bi bi-suit-heart" id="heartIcon"></i>
                            <span id="favoriteCount" class="like-text" th:text="${dto.favoriteCount}"></span>
                        </a>-
                    </div>

                    <div class="my-4" th:with="user=${#authentication.principal}">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                            <a th:if="${pageRequestDTO.origin.contains('personalPage')}" th:href="|@{/recipe/personalPage}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <a th:if="${pageRequestDTO.origin.contains('communityPage')}" th:href="|@{/recipe/communityPage}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <a th:if="${user != null && user.username == dto.writer}" th:href="|@{/recipe/modify(rid=${dto.rid})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>
                        </div>
                    </div>


                </div><!--end card body-->

                <div class="card" th:if="${dto.fileNames != null && dto.fileNames.size() > 0}">
                    <img class="card-img-top" th:each="fileName: ${dto.fileNames}" th:src="|/view/${fileName}|">
                </div>



            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->



    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">

    document.addEventListener('DOMContentLoaded', function() {
        const likeButton = document.getElementById('likeButton');
        const heartIcon = likeButton.querySelector('#heartIcon');
        const recipeId = likeButton.getAttribute('data-rid'); //
        const favoriteCount = document.getElementById('favoriteCount'); //

        if (likeButton && heartIcon && favoriteCount) {
            likeButton.addEventListener('click', function(e) {
                e.preventDefault();

                axios.post('/recipe/' + recipeId + '/favorite')
                    .then(function(response) {
                        alert('Recipe liked successfully!');
                        if (heartIcon.classList.contains('bi-suit-heart')) {
                            heartIcon.classList.remove('bi-suit-heart');
                            heartIcon.classList.add('bi-suit-heart-fill');
                        }
                        // 좋아요 수 증가
                        favoriteCount.textContent = response.data.favoriteCount;
                    })
                    .catch(function(error) {
                        alert('An error occurred while liking the recipe');
                        console.error('Error:', error);
                    });
            });
        } else {
            console.error('Like button or heart icon not found');
        }
    });

</script>
