<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .container {
            display: block;
            width: 100%;
            overflow: hidden;
        }

        /* 기본적으로 마지막 <td> 요소 숨기기 */
        #itemsTable .action-cell {
            visibility: hidden;
        }

        /* 행에 마우스를 올렸을 때 마지막 <td> 요소 보이기 */
        #itemsTable tr:hover .action-cell {
            visibility: visible;
        }
    </style>

</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">

            <div class="card">
                <div class="card-header">
                    <h5>나의 냉장고</h5>
                </div>
                <div class="card-body container" >

                    <table class="table" id="itemsTable" th:fragment="itemTable">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">유통기한</th>
                            <th scope="col">이름</th>
                            <th scope="col">수량</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item, iterStat : ${responseDTO.dtoList}">
                            <th scope="row" th:text="${iterStat.count}"></th>
                            <td>
                                <span th:text="${#temporals.format(item.expirationDate, 'yyyy-MM-dd')}"></span>
                                <span class="dday-badge"></span>
                            </td>
                            <td th:text="${item.itemName}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td class="action-cell">
                                <a class="delete-item" th:data-id="${item.id}">
                                    <i class="bi bi-x"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>



                    <div class="row mt-3">
                        <form action="/recipe/refrigerator" method="get">
                            <div class="col">
                                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}" placeholder="재료 이름을 검색하세요">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary searchBtn" type="submit">Search</button>
                                        <button class="btn btn-outline-secondary clearBtn" type="button">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row mt-3">
                        <form id="addItemForm">
                            <input type="text" id="itemName" name="itemName" placeholder="재료 이름" required>
                            <input type="text" id="quantity" name="quantity" placeholder="수량" required>
                            <label for="expirationDate">소비기한</label>
                            <input type="date" id="expirationDate" name="expirationDate" required>
                            <button type="submit">추가</button>
                            <button class="btn btn-primary float-end" id="recommendButton">추천 레시피</button>
                        </form>
                    </div>


                    <div class="row mt-3">
                        <ul class="pagination justify-content-end">
                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:href="@{/refrigerator(page=${responseDTO.start - 1}, size=${responseDTO.size})}" th:data-num="${responseDTO.start - 1}">Previous</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:href="@{/recipe/refrigerator(page=${i}, size=${responseDTO.size})}" th:data-num="${i}">[[${i}]]</a>
                                </li>
                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:href="@{/refrigerator(page=${responseDTO.end + 1}, size=${responseDTO.size})}" th:data-num="${responseDTO.end + 1}">Next</a>
                            </li>
                        </ul>
                    </div>


                </div><!--end card body-->
            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->


    <!-- Modal -->
    <div class="modal fade" id="recipeModal" tabindex="-1" aria-labelledby="recipeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="recipeModalLabel">Recommended Recipes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul id="recipeList" class="list-group">
                        <!-- 레시피 제목이 여기에 추가됩니다. -->
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>



<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit();

    },false)

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location ='/recipe/refrigerator'

    },false)


    document.addEventListener('DOMContentLoaded', function() {
        const addItemForm = document.getElementById('addItemForm');
        const itemsTable = document.getElementById('itemsTable');
        const recommendButton = document.getElementById('recommendButton');

        updateDdayBadges();

        addItemForm.addEventListener('submit', function(e) {
            e.preventDefault();

            const itemData = {
                itemName: document.getElementById('itemName').value,
                quantity: document.getElementById('quantity').value,
                expirationDate: document.getElementById('expirationDate').value
            };

            axios.post('/recipe/refrigerator/items', itemData)
                .then(function(response){
                    addItemToTable(response.data);
                    addItemForm.reset();
                    updateItemTable();
                })
                .catch(function(error){
                    alert('재료 추가 중 오류가 발생했습니다.');
                    console.error('Error:', error);
                })
        });

        document.addEventListener('click', function(e) {
            if (e.target.classList.contains('delete-item') || e.target.closest('.delete-item')) {
                e.preventDefault();
                const deleteButton = e.target.closest('.delete-item');
                const itemId = deleteButton.getAttribute('data-id');
                const row = deleteButton.closest('tr');
                deleteItemTable(itemId, row);
            }
        });

        recommendButton.addEventListener('click', function() {
            fetchRecommendedRecipes();
        });

        function addItemToTable(item) {
            const tbody = document.querySelector('#itemsTable tbody');
            const newRow = document.createElement('tr');
            const rowCount = tbody.children.length + 1;
            const ddaySpan = calculateDay(item.expirationDate);

            newRow.innerHTML = `
                <th scope="row">${rowCount}</th>
                <td>
                    <span>${item.expirationDate}</span>
                    <span class="dday-badge">${ddaySpan}</span>
                </td>
                <td>${item.itemName}</td>
                <td>${item.quantity}</td>
                <td class="action-cell">
                    <a class="delete-item" data-id="${item.id}">
                        <i class="bi bi-x"></i>
                       </a>
                </td>
            `;
            tbody.appendChild(newRow);
        }

        function updateItemTable() {
            axios.get('/recipe/refrigerator', {
                params: {
                    isAjax: true,
                    page: 1,
                    size: 10
                }
            })
                .then(function (response) {
                    const parser = new DOMParser();
                    const doc = parser.parseFromString(response.data, 'text/html');
                    const newTbody = doc.querySelector('#itemsTable tbody');

                    if (newTbody) {
                        const currentTbody = document.querySelector('#itemsTable tbody');
                        currentTbody.innerHTML = newTbody.innerHTML;
                        updateDdayBadges();
                    } else {
                        console.error('Failed to find tbody in the response');
                    }
                })
                .catch(function (error) {
                    console.error('Failed fetching items:', error);
                })
        }

        async function deleteItemTable(itemId, row) {
            try {
                const response = await axios.delete(`/recipe/refrigerator/items/${itemId}`);
                if (response.status === 204) {
                    row.remove();
                    updateItemTable();
                } else {
                    alert('아이템 삭제 중 오류가 발생했습니다.');
                }
            } catch (error) {
                console.error('아이템 삭제 중 오류 발생:', error);
                alert('아이템 삭제 중 오류가 발생했습니다.');
            }
        }

        function fetchRecommendedRecipes() {
            axios.get('/api/recipes/recommend')
                .then(function(response) {
                    updateModal(response.data);
                    $('#recipeModal').modal('show');
                })
                .catch(function(error) {
                    console.error('Failed fetching recipes:', error);
                    alert('레시피 가져오기 중 오류가 발생했습니다.');
                });
        }

        function updateModal(recipes) {
            const recipeList = document.getElementById('recipeList');
            recipeList.innerHTML = '';

            if (recipes.length === 0) {
                recipeList.innerHTML = '<li class="list-group-item">No recipes found.</li>';
            } else {
                recipes.forEach(function(recipe) {
                    const listItem = document.createElement('li');
                    listItem.className = 'list-group-item';
                    /*listItem.textContent = recipe.title;*/
                    listItem.innerHTML = `<a href="#" class="recipe-link" data-rid="${recipe.rid}">${recipe.title}</a>`;
                    recipeList.appendChild(listItem);
                });
            }

            const recipeLinks = document.querySelectorAll('.recipe-link');
            recipeLinks.forEach(function(link){
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    const rid = this.getAttribute('data-rid');
                    window.location.href = `/recipe/read?rid=${rid}`;
                });
            });

        }



        function calculateDay(expirationDate) {
            const today = new Date();
            const expDate = new Date(expirationDate);
            const timeDiff = expDate - today;
            const dayDiff = Math.ceil(timeDiff / (1000 * 60 * 60 * 24));

            let ddayText;
            let badgeClass;

            if(dayDiff > 0) {
                ddayText = `D-${dayDiff}`;
                badgeClass = "bg-info";
            } else if(dayDiff === 0) {
                ddayText = `D-Day`;
                badgeClass = "bg-warning";
            } else {
                ddayText = `D+${Math.abs(dayDiff)}`;
                badgeClass = "bg-danger";
            }
            return `<span class="badge ${badgeClass}">${ddayText}</span>`;
        }

        function updateDdayBadges() {
            const rows = document.querySelectorAll('#itemsTable tbody tr');
            rows.forEach(row => {
                const dateCell = row.querySelector('td:nth-child(2)');
                const expirationDate = dateCell.querySelector('span:not(.dday-badge)').textContent.trim();
                const ddaySpan = calculateDay(expirationDate);
                let ddayBadge = dateCell.querySelector('.dday-badge');
                if (!ddayBadge) {
                    ddayBadge = document.createElement('span');
                    ddayBadge.className = 'dday-badge';
                    dateCell.appendChild(ddayBadge);
                }
                ddayBadge.innerHTML = ddaySpan;
            });
        }

    })




</script>
