<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Admin Home</title>
</head>
<div layout:fragment="content">
    <h1>Welcome to Admin Page</h1>
    <div th:if="${#strings.startsWith(#authentication.name, 'admin')}" class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/admin/home}">Home</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/admin/inquiry}">문의내역</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/admin/managementPost.html}">게시글관리</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/admin/managementUser}">사용자관리</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:href="@{/admin/statistics}">통계</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" th:if="${param.logout == null}" th:href="@{/member/login/logout}">로그아웃</a>
    </div>
</div>
</html>