HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
*.gradle.kts.lockfile
gradle.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#logs
*.log
logs/
!logs/specific-log.log

# env set
*.env
*.properties
*.yml

# spring boot
*.jar
*.war

#sec
secrets/
keys/
certs/

#db
*.db
*.sqlite
*.sql

