HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
*.gradle.kts.lockfile
gradle.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

#logs
*.log
logs/
!**/src/main/**/logs/
!**/src/test/**/logsf

# env set
*.env
*.properties
*.yml
!**/src/main/**/resources/*.properties
!**/

# spring boot
*.jar
*.war

#sec
secrets/
keys/
certs/

#db
*.db
*.sqlite
*.sql

